<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>024522BE-2581-4F79-935D-2543C47E9910</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vv</string>
			<key>text</key>
			<string>V2EX</string>
			<key>url</key>
			<string>https://www.v2ex.com/?tab=all</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1A0F02EA-7D57-44C4-AC3D-1724280F9C95</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bili</string>
			<key>text</key>
			<string>BiliBili</string>
			<key>url</key>
			<string>https://search.bilibili.com/all?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>256C52B9-46F2-4AA3-8B13-18C0C53475F7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jd</string>
			<key>text</key>
			<string>京东</string>
			<key>url</key>
			<string>https://search.jd.com/Search?keyword={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2FCA9964-C633-49EB-ACE3-C6F530DC954E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nga</string>
			<key>text</key>
			<string>NGA</string>
			<key>url</key>
			<string>https://nga.178.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5E050EC1-D0EA-4083-9FC6-1BEABB46B228</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>douban</string>
			<key>text</key>
			<string>豆瓣</string>
			<key>url</key>
			<string>https://www.douban.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>60AECA4C-8E57-427C-9DB7-E5EA24281727</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>taobao</string>
			<key>text</key>
			<string>淘宝</string>
			<key>url</key>
			<string>https://s.taobao.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BA3FEAC1-9FF2-4C3B-9675-A23525B26313</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>outlook</string>
			<key>text</key>
			<string>Outlook</string>
			<key>url</key>
			<string>https://outlook.live.com/mail/0/inbox</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D6AF02DF-C19C-4114-A541-133AEC64ADAB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>baidu</string>
			<key>url</key>
			<string>https://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
